<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Add Contact Success</title>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Address Book</h1>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="alert alert-info" role="alert">You successfully added a contact:</div>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">{{ newcontact.getName }}</li>
            <li class="list-group-item">{{ newcontact.getNumber }}<li>
            <li class="list-group-item">{{ newcontact.getStreet }}<li>
            <li class="list-group-item">{{ newcontact.getCity }}<li>
            <li class="list-group-item">{{ newcontact.getState }}<li>
            <li class="list-group-item">{{ newcontact.getZip }}<li>
          </ul>
        </div>
      </div>
      <button class="btn btn-lg btn-default center-block"><a href="/">View Your Address Book</a></button>
    </div>
  </body>

</html>
